main {
  lost-utility: clearfix;
}
section {
  lost-column: 1/1 0;
  @media (--medium-screen) {
    lost-column: 3/4 0;
  }
}
.single {
  lost-column: 1/1 0;
}
article {
  lost-column: 1/1 0;
  @media (--medium-screen) {
    lost-column: 2/4 0;
  }
}
aside {
  lost-column: 1/1 0;
  @media (--medium-screen) {
    lost-column: 1/4 0;
  }
}
