main {
  margin: 25px;
}
.quarterly-focus {

}
.copyright {
  font-family: var(--font-secondary);
  font-size: calc(var(--base-font-size) * 1);
}
.card {
  border:1px solid silver;
  padding: 10px;
}
