{{ define "main" }}
<main>
  <section>
    <header>
      <h1 class="title">{{ .Title }}</h1>
      {{ .Content }}
    </header>
    {{ range .Data.Pages }}
    <article class="card">
      {{if isset .Params "image" }}<a href="{{ .Permalink }}"><img class="img-fluid" src="{{ index .Params "image" | absURL }}"></a>{{ end }}
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      {{ partial "post-meta" . }}
      {{ .Content }}
    </article>
    {{ end }}
  </section>
</main>
{{ end }}
