<header class="header">
  <div class="logo">
    <a class="logo__link" href="{{ .Site.BaseURL }}">
      <img class="logo__image" src="images/21stAmendmentBrewery-logo.png" alt="{{ .Site.Title }}">
    </a>
  </div>
  <nav class="menu">
    <ol class="menu__list">
      <li><a class="menu__link" href="/">Dashboard</a></li>
      <li><a class="menu__link" href="/programs">Programs</a></li>
      <li><a class="menu__link" href="/assets">One Sheets</li>
      <li><a class="menu__link" href="/templates">Templates</li>
      <li><a class="menu__link" href="/beers">Beers</li>
      <li><a class="menu__link" href="/brand-guide">Brand Guide</a></li>
      <li><a class="menu__link" href="/help">Help</a></li>
   </ol>
  </nav>
</header>
