<header>
  <a href="{{ .Site.BaseURL }}"><img src="images/21stAmendmentBrewery-logo.png" alt="{{ .Site.Title }}"></a>
  <nav class="nav main-nav">
    <ol>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/programs">Programs</a></li>
      <li><a href="/sales-information">Sales Information</a></li>
      <li><a href="/brand-guide">Brand Guide</a></li>
      <li><a href="/brand-guide/assets">Assets</a></li>
      <li><a href="/notifications">Notifications</a></li>
      <li><a href="/help">Help</a></li>
   </ol>
  </nav>
</header>
